<template lang="pug">
  div
    div
      div(class="mdl-grid")
        div(class="mdl-cell mdl-cell--4-col title")
          span Vencimiento Soats a:
          select(v-model="cmonths" style="background-color: #eee; color: #333;")
            option(value="1") 1 mes
            option(value="2") 2 meses
            option(value="3") 3 meses
      div(class="panel-body")
        table(class="mdl-data-table")
          thead
            tr
              th
              th Vencimiento
              th Cliente
              th Teléfono
              th Placa
              th Valor Renovación
              th Correo-e
              th SMS
              th Estado Trámite
          tbody
            tr(v-for="soat in soats")
              td
                a(:href="'/admin/soats/' + soat.soatid")
                  span(class="material-icons") visibility
              td {{ soat.exp | date }}
              td
                a(@click="getClient(soat.clientid)") {{ soat.fullname }}
              td(width="140px" align="right") {{ soat.phone | phone }}
              td {{ soat.patent }}
              td {{ soat.total }}
              td
                div(v-if="soat.email")
                  button(
                    type="button"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    @click="notifyClient(soat.soatid, $event)"
                    :disabled="blockEmail(soat)"
                    ) Enviar
              td
                div(v-if="soat.sms")
                  button(
                    type="button"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                    disabled
                    ) Enviar
              td(width="200px")
                select(class="form-control" @change="updateStatus(soat.soatid, $event)")
                  option Desconocido
                  option(
                    v-for="status in statusList"
                    :value="status.id"
                    :selected="checkStatus(soat, status.id)"
                    ) {{ status.name }}
    modal(v-if="showModal" @close="showModal = false")
      h3(slot="header") Datos Cliente:
      div(slot="body")
        Client(v-bind:clientid="modalData")
</template>

<script>
    // const axios = require('axios');
    // const Renew = require('./Renew');
    import api from '../../api'

    export default {

    data: function () {
        return {
            soats: [],
            pageCount: 1,
            showModal: false,
            modalData: null,
            statusList: [],
            cmonths: null,
        }
    },

    components: {
        // Renew,
    },

    props: ['months'],

    watch: {
        cmonths (n) {
            this.fetchSoats(n);
        },

        showModal (x) {
            console.log('showModal: '+x);
        }
    },

    methods: {
        fetchSoats () {
            api.get('soats/check/' + this.cmonths)
            .then( ({data}) => {
                // console.log(data);
                this.soats = data;
            });
        },

        notifyClient (soatid, event) {
            console.log(event);
            var btn = event.target;

            console.log('notifyClient '+ soatid);
            api.get('soats/' + soatid + '/notify')
            .then( ({data}) => {
                console.log(data);
                if (data.status) {
                    btn.innerHTML = 'Listo';
                    btn.className = 'btn btn-success';
                } else {
                    btn.innerHTML = 'error';
                }
            });
        },

        // getClient (id) {
        //     axios.get('/api/clients/'+id)
        //     .then( ({data}) => {
        //         console.log(data);
        //     });
        // },

        getClient (id) {
            this.showModal = true;
            this.modalData = id;
        },

        getStatusList () {
            api.get('polstatus')
            .then( ({data}) => {
                this.statusList = data;
            });
        },

        checkStatus (soat, id) {
            if (soat.status) {
                if (soat.status.id == id) {
                    return true;
                }
            }
            return false;
        },

        updateStatus (soatid, event) {
            console.log(soatid);
            console.log(event.target.selectedIndex);
            var newStatus = event.target.selectedIndex;

            api.put('soats/'+soatid+'/update', {status_id: newStatus})
            .then(({data}) => {
                console.log(data);
            });
        },

        blockEmail (soat) {
            if (soat.status) {
                if (soat.status.id < 5) {
                    return true;
                }
            }
            return false;
        }

    },

    created () {
        this.cmonths = this.months;
        // this.fetchSoats();
        this.getStatusList();
        setInterval(this.fetchSoats, 20000);
    },

}
</script>

<style lang="css">
</style>
