<template lang="pug">
  v-container
    ListAll(
      v-if="window.current === 'ListAll'"
      @showSoat="showSoat($event)"
      )
    Show(
      v-if="window.current === 'Show'"
      @returnWindow="returnWindow"
      :soatid="soatid"
      )
    CheckExp(
      v-if="window.current === 'CheckExp'"
      :months="months"
      )
</template>

<script>
import ListAll from './ListAll'
import Show from './Show'
import CheckExp from './CheckExp'

import windowController from '../../mixins/WindowController'

export default {
  mixins: [
    windowController
  ],

  data () {
    return {
      soatid: null,
      defaultWindow: 'ListAll'
    }
  },

  props: [
    'viewProp',
    'dataProp',
    'months'
  ],

  components: {
    ListAll,
    Show,
    CheckExp
  },

  methods: {
    showSoat (id) {
      this.soatid = id
      this.changeWindow('Show')
    }
  },

  created () {
    this.soatid = this.dataProp || null
  }
}
</script>

<style lang="css">
</style>
