<template lang="html">
  <div class="">

      <div class="row">
          <div class="col-xs-5">
              <h4>Generales:</h4>
              <ul class="list-group" v-if="data.type == 'people'">
                  <li class="list-group-item">Primer Nombre: <strong>{{ data.extended.name1 }}</strong></li>
                  <li class="list-group-item">Segundo Nombre: <strong>{{ data.extended.name2 }}</strong></li>
                  <li class="list-group-item">Primer Apellido: <strong>{{ data.extended.lastname1 }}</strong></li>
                  <li class="list-group-item">Segundo Apellido: <strong>{{ data.extended.lastame2 }}</strong></li>
                  <li class="list-group-item">Cédula de Identidad: <strong>{{ data.extended.cc | cc }}</strong></li>
                  <li class="list-group-item">Fecha Nacimiento: <strong>{{ data.extended.birth | date }}</strong></li>
                  <li class="list-group-item">Género: <strong>{{ data.extended.gender == 'F'? 'Femenino' : 'Masculino' }}</strong></li>
                  <li class="list-group-item">Relacion: <strong>{{ rel }}</strong></li>
              </ul>
              <ul class="list-group" v-if="data.type == 'companies'">
                  <li class="list-group-item">Razón Social: <strong>{{ data.extended.name }}</strong></li>
                  <li class="list-group-item">NIT: <strong>{{ data.extended.nit | nit }}</strong></li>
                  <li class="list-group-item">Relacion: <strong>{{ rel }}</strong></li>
                  <li class="list-group-item">Sitio Web: <strong>{{ data.extended.www }}</strong></li>
                  <li class="list-group-item">Relacion: <strong>{{ rel }}</strong></li>
              </ul>
          </div>
          <div class="col-xs-7">
              <h4>Datos de Contacto</h4>
              <ul class="list-group">
                  <li class="list-group-item">
                      <label v-show="data.phones">Teléfonos:</label>
                      <ul class="list-group" v-for="phone in data.phones">
                          <li class="list-group-item">{{ phone.number | phone }}</li>
                      </ul>
                      <label v-show="data.emails">Correos:</label>
                      <ul class="list-group" v-for="email in data.emails">
                          <li class="list-group-item"><a :href="prepareMail(email.email)" target="_blank">{{ email.email }}</a></li>
                      </ul>
                      <label v-show="data.addresses">Direcciones:</label>
                      <ul class="list-group" v-for="addr in data.addresses">
                          <li class="list-group-item">{{ addr.address }}</li>
                      </ul>
                  </li>
              </ul>

          </div>
      </div>
      <div class="row">
          <div v-if="data.products" class="col-xs-6">
              <h4>Productos:</h4>
              <div v-if="data.products.soat">
                  <label for="">Soat</label>
                  <ul class="list-group" v-for="pol in data.products.soat">
                      <li class="list-group-item">
                          <a
                            :href="'/soats/'+pol.id"
                            :data-id="pol.id"
                            :class="pol.expired? (pol.renewed? 'text-muted': 'text-danger') : ''"
                            ><small>placa:</small> {{ pol.vehicle.patent }} <small>ven:</small> {{ pol.exp | date }}</a>
                      </li>
                  </ul>

              </div>
          </div>
      </div>
  </div>
</template>

<script>
const axios = require('axios')
const entrypoint = '/api/v1'

export default {
    data () {
        return {
            data: {extended: {rel: null}},
        }
    },

    props: ['clientid'],

    computed: {
        rel () {
            // Tipo de relacion: 1. ninguna, 2. clave, 3. cliente, 4. intermediario, 5. trabajador
            var res = {
                1: 'Ninguna',
                2: 'Clave',
                3: 'Cliente',
                4: 'Intermediario',
                5: 'Trabajador'
            }

            return this.data? res[this.data.extended.rel] : '';
        }
    },

    methods: {
        getClient (id) {
            axios.get(entrypoint + '/clients/' + id)
            .then( ({data}) => {
                console.log(data);
                console.log(id);
                this.data = data;
            });
        },

        prepareMail (email) {
            return 'https://mail.google.com/mail/?view=cm&fs=1&to='+email+'&su=Villalvar_Seguros&body=';
        }
    },
    created () {
        this.getClient(this.clientid);
    }
}
</script>

<style lang="css">
</style>
