<template lang="html">
  <div class="">
      <div class="title">
          Todos los clientes:
      </div>
      <div class="caracteristicas">
          <select class="" name="">
              <label for="">Tipo:</label>
              <option value="">Natural</option>
              <option value="">Jurídico</option>
          </select>
          <div class="">
              <input type="text" name="" value="">
              <select class="form-control" name="">
                  <option value="">C.C.</option>
              </select>
              <button class="btn btn-default" type="button" name="button">Buscar</button>
          </div>
      </div>
      <div class="tabla">
          <table class="table table-stripped">
              <thead>
                  <tr>
                      <th>Documento</th>
                      <th>Nombre</th>
                  </tr>
              </thead>
              <tbody v-for="client in clients">
                  <tr>
                      <td v-if="client.ref == 'people'" align="center" class="text-success">
                          {{ client.doc | cc }}
                      </td>
                      <td v-else align="center" class="text-primary">
                          {{ client.doc | nit }}
                      </td>

                      <td :class="client.ref == 'people'? 'text-success' : 'text-primary' ">
                          <a @click="getClient(client.id)">{{ client.name }}</a>
                      </td>
                  </tr>
              </tbody>
          </table>
          <paginate
              :page-count="pageCount"
              :page-range="3"
              :margin-pages="2"
              :click-handler="clickCallBack"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'">
          </paginate>
      </div>
      <modal v-if="showModal" @close="showModal = false">
          <h3 slot="header">Datos Cliente:</h3>
          <div slot="body">
              <Client v-bind:clientid="modalData"></Client>
          </div>
      </modal>
  </div>
</template>

<script>
    const axios = require('axios');
    const Client = require('./Client');
    const entrypoint = '/api/v1'
    const socialRedirect = 'http://localhost:8000/auth/google'
    const homeUrl = 'http://localhost:8000'
    axios.defaults.headers.common['vil_token'] = 'diego.viniegra@gmail.com'

    export default {
        data: function () {
            return {
                clients: [],
                pageCount: 0,
                showModal: false,
                modalData: null,
            }
        },

        components: {
            Client
        },

        methods: {
            fetch: function (page=1) {
                axios.get(entrypoint + '/clients?page='+page)
                .then( ({data}) => {
                    console.log(data);
                    this.clients = data.data;
                    this.pageCount = data.last_page;
                })
                .catch(({response}) => {
                  console.log(response.data)
                  console.log(response.status)
                  if (response.data.code === 2) {
                    window.location.href = socialRedirect
                  }
                  if (response.data.code === 3) {
                    window.data.href = homeUrl
                  }
                })
            },

            clickCallBack: function (pageNum) {
                console.log(pageNum);
                this.fetch(pageNum);
            },

            getClient (id) {
                console.log(id);
                this.showModal = true;
                this.modalData = id;
            }
        },

        created: async function () {
            this.fetch()
        }
}
</script>

<style lang="css">
</style>
