<template lang="html">
  <div>
      <div class="panel panel-default">
          <div class="panel-heading">
              Vencimiento Soats a
              <select class="" name="" v-model="cmonths">
                    <option value="1">1 mes</option>
                    <option value="2">2 meses</option>
                    <option value="3">3 meses</option>
              </select>
          </div>
          <div class="panel-body">
              <table class="table table-stripped">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Vencimiento</th>
                          <th>Cliente</th>
                          <th>Teléfono</th>
                          <th>Placa</th>
                          <th>Valor Renovación</th>
                          <th>Correo-e</th>
                          <th>SMS</th>
                          <th>Estado Trámite</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr v-for="soat in soats">
                          <td><a :href="'/soats/'+soat.soatid"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                          <td> {{ soat.exp | date }}</td>
                          <td><a @click="getClient(soat.clientid)">{{ soat.fullname }}</a></td>
                          <td width="140px" align="right">{{ soat.phone | phone }}</td>
                          <td>{{ soat.patent }}</td>
                          <td>{{ soat.total }}</td>
                          <td>
                              <div v-if="soat.email">
                                  <button
                                        type="button"
                                        class="btn btn-primary"
                                        @click="notifyClient(soat.soatid, $event)"
                                        :disabled="blockEmail(soat)"
                                        >Enviar</button>
                              </div>
                          </td>
                          <td>
                              <div v-if="soat.sms">
                                  <button
                                        type="button"
                                        class="btn btn-default"
                                        disabled
                                        >Enviar</button>
                              </div>
                          </td>
                          <td width="200px">
                              <select class="form-control" @change="updateStatus(soat.soatid, $event)">
                                  <option value="">Desconocido</option>
                                  <option
                                    v-for="status in statusList"
                                    :value="status.id"
                                    :selected="checkStatus(soat, status.id)"
                                    >{{ status.name }}</option>
                              </select>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <modal v-if="showModal" @close="showModal = false">
          <h3 slot="header">Datos Cliente:</h3>
          <div slot="body">
              <Client v-bind:clientid="modalData"></Client>
          </div>
      </modal>
  </div>
</template>

<script>
    const axios = require('axios');
    const Renew = require('./Renew');

    export default {

    data: function () {
        return {
            soats: [],
            endpoint: '/api/soats/',
            pageCount: 1,
            showModal: false,
            modalData: null,
            statusList: [],
            cmonths: null,
        }
    },

    components: {
        Renew,
    },

    props: ['months'],

    watch: {
        cmonths (n) {
            this.fetchSoats(n);
        },

        showModal (x) {
            console.log('showModal: '+x);
        }
    },

    methods: {
        fetchSoats () {
            axios.get(this.endpoint + 'check/' + this.cmonths)
            .then( ({data}) => {
                // console.log(data);
                this.soats = data;
            });
        },

        notifyClient (soatid, event) {
            console.log(event);
            var btn = event.target;

            console.log('notifyClient '+ soatid);
            axios.get(this.endpoint + soatid + '/notify')
            .then( ({data}) => {
                console.log(data);
                if (data.status) {
                    btn.innerHTML = 'Listo';
                    btn.className = 'btn btn-success';
                } else {
                    btn.innerHTML = 'error';
                }
            });
        },

        // getClient (id) {
        //     axios.get('/api/clients/'+id)
        //     .then( ({data}) => {
        //         console.log(data);
        //     });
        // },

        getClient (id) {
            this.showModal = true;
            this.modalData = id;
        },

        getStatusList () {
            axios.get('/api/polstatus')
            .then( ({data}) => {
                this.statusList = data;
            });
        },

        checkStatus (soat, id) {
            if (soat.status) {
                if (soat.status.id == id) {
                    return true;
                }
            }
            return false;
        },

        updateStatus (soatid, event) {
            console.log(soatid);
            console.log(event.target.selectedIndex);
            var newStatus = event.target.selectedIndex;

            axios.put('/api/soats/'+soatid+'/update', {status_id: newStatus})
            .then(({data}) => {
                console.log(data);
            });
        },

        blockEmail (soat) {
            if (soat.status) {
                if (soat.status.id < 5) {
                    return true;
                }
            }
            return false;
        }

    },

    created () {
        this.cmonths = this.months;
        // this.fetchSoats();
        this.getStatusList();
        setInterval(this.fetchSoats, 20000);
    },

}
</script>

<style lang="css">
</style>
