<template lang="html">
    <div class="">
        <form class="" action="/api/soats/store" @submit.prevent="store" method="post">
            <div class="row">
                <div class="col-xs-6">
                    <h4>Cliente: <a href=""><span class="glyphicon glyphicon-pencil"></span></a></h4>

                    <label for="client">Tomador:</label>
                    <input readonly type="text" class="form-control" name="client" v-model="client.name">
                    <label for="doc">Documento:</label>
                    <input readonly class="form-control" type="text" name="doc" v-model="client.doc">
                    <hr>
                    <h4>Vehículo: <a href=""><span class="glyphicon glyphicon-pencil"></span></a></h4>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="pantent">Placa:</label>
                            <input readonly type="text" class="form-control" name="patent" v-model="vehicle.patent">
                        </div>
                        <div class="col-xs-6">
                            <label for="model">Modelo:</label>
                            <input readonly type="text" class="form-control" name="model" v-model="vehicle.model">
                        </div>
                    </div>
                    <label for="brand">Marca:</label>
                    <input readonly type="text" class="form-control" name="brand" v-model="vehicle.brand">

                </div>
                <div class="col-xs-6">
                    <h4>Póliza:</h4>
                    <label for="insurer">Aseguradora:</label>
                    <!-- <input type="text" name="insurer" v-model="data.insurer_id"> -->
                    <button type="button" name="button">{{ insurer.name }}</button>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="num">Número:</label>
                            <input type="text" name="num" v-model="newsoat.number">
                        </div>
                        <div class="col-xs-6">
                            <label for="created">Expedición:</label>
                            <input type="date" class="form-control" name="created" v-model="newsoat.created">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="created">Inicio:</label>
                            <input type="date" class="form-control" name="from" v-model="newsoat.from">
                        </div>
                        <div class="col-xs-6">
                            <label for="created">Vencimiento:</label>
                            <input type="date" class="form-control" name="exp" v-model="newsoat.exp">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="class">Clase:</label>
                            <!-- <input type="text" name="class" v-model="data.class.name"> -->
                            <button type="button" name="class">{{ data.class.name }}</button>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label for="use">Uso:      </label>
                            <!-- <input type="text" name="use" v-model="data.use"> -->
                            <button type="button" name="use">{{ data.use }}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="comis">Comisión</label>
                            <input type="text" name="comis" value="">
                        </div>
                        <div class="col-xs-6">
                            <label for="monto">Total:</label>
                            <input type="text" name="monto" v-model="newsoat.amount">
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row" align="center">
                <button class="btn btn-primary" type="submit" name="button">Registrar</button>
                <button class="btn btn-default" type="button" name="button">Cancelar</button>
            </div>

        </form>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data () {
        return {
            client: {},
            vehicle: {},
            insurer: {},
            class: {},
            newsoat: {},
        }
    },

    props: ['soat'],

    computed: {
        data: function () {
            return this.soat;
        }
    },

    methods: {
        store (event) {
            // console.log(event.target);
            // event.preventDefault();

            axios.post('/api/soats/store', this.newsoat)
            .then( ({data}) => console.log(data) )
            .catch( ({response}) => console.log(response) )
            //
            // console.log(this.client);
            // console.log(this.vehicle);
            // console.log(this.newsoat);
        }
    },

    beforeMount () {
        console.log(this.soat);
        let date = new Date;
        this.client = this.data.client;
        this.vehicle = this.data.vehicle;
        this.insurer = this.data.insurer;
        this.class = this.data.class;
        this.newsoat = {
            number: null,
            created: null,
            from: null,
            exp: null,
            amount: null,
            ct: this.data.ct,
            use: this.data.use,
            client_id: this.client.id,
            vehicle_id: this.vehicle.id,
            insurer_id: this.insurer.id,
            class_id: this.class.id,
            oldsoat_id: this.soat.id,
        }
    }
}
</script>

<style lang="css">
</style>
