<template lang="html">
  <div v-if="data" class="">
      <div class="">

      </div>
      <div class="col-xs-6">
          <h4>Varios</h4>
          <ul class="list-group">
              <li class="list-group-item">Cliente: <a :href="'/clients/'+data.client_id"><strong>{{ data.client.name }}</strong></a></li>

              <li class="list-group-item">Vencimiento: <strong>{{ data.exp | date }}</strong></li>

              <li v-if="data.expired" class="list-group-item">Expirado</li>

              <li v-if="data.expired" class="list-group-item">{{ data.renewed? 'Renovado' : 'No Renovado' }}</li>

              <li class="list-group-item">
                  <a
                    class="btn btn-primary btn-block"
                    type="button" 
                    @click="renew(data.id)"
                    name="button"
                    >Renovar</a> </li>

          </ul>


      </div>
      <div class="col-xs-6">
          <h4>Vehículo:</h4>
          <ul class="list-group">
              <li class="list-group-item">Placa: <strong>{{ data.vehicle.patent }}</strong> </li>
              <li class="list-group-item">Modelo: <strong>{{ data.vehicle.model }}</strong></li>
              <li class="list-group-item">Uso: <strong>{{ data.vehicle.use }}</strong></li>
              <li class="list-group-item">Cilindraje: <strong>{{ data.vehicle.cil }}</strong></li>
              <li class="list-group-item">Marca: <strong>{{ data.vehicle.brand }}</strong></li>
              <li class="list-group-item">Categoría: <strong>{{ data.vehicle.class }}</strong></li>
          </ul>
      </div>
      <modal v-if="showModal" @close="showModal = false">
          <h3 slot="header">Renovación de Soat:</h3>
          <div slot="body">
              <Renew v-bind:soat="data"></Renew>
          </div>
      </modal>
  </div>
</template>

<script>
const axios = require('axios');
const Renew = require('./Renew');

export default {
    data () {
        return {
            data: null,
            showModal: false,

        }
    },

    components: {
        Renew
    },

    props: ['soat'],

    methods: {
        fetch: function (id) {
            axios.get('/api/soats/'+id)
            .then( ({data}) => {
                // console.log(data);
                this.data = data;
            })
        },

        renew: function (id) {
            console.log(id);
            this.showModal = true;

        }
    },

    created: function () {
        console.log(this.soat);
        this.fetch(this.soat);
    }
}
</script>

<style lang="css">
</style>
